.swirl:hover {
    animation: swirl 0.5s infinite linear;
}
.heavy {
    font-weight: bold;
  }
@keyframes swirl {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
#body {
    background-color: rgb(0, 0, 0); /* set the initial background color */
  }
  
  .text {
    animation: dance 2s infinite;
  }
  
  @keyframes dance {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(25px) rotate(3deg);
    }
    50% {
      transform: translateX(-25px) rotate(-3deg);
    }
    75% {
      transform: translateX(15px) rotate(3deg);
    }
    100% {
      transform: translateX(0);
    }
  }
  #myButton{
    position: absolute;
    background-color: black; /* sets the background color to black */
    color: white; /* sets the text color to white */
  }

  .falling-text {
    font-size: 20px;
    position: absolute;
    animation: fallingText 2s linear;
    animation-iteration-count: infinite;
    /* other styles */
}

@keyframes fallingText {
    0% {
        top: -100px;
    }
    100% {
        top: 100%;
    }
}
